body {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 60% 40%;
}

html, body, #mapid {
    height: 100%;
    width: 100vw;
    grid-column: 1/-1;
}

.image {
    grid-column: 1/6;
    
}

.review {
    grid-column: 6/-1;
    background-color: palevioletred
}
