body {
    margin: 0px;
    font-size: large;
}
input {
    width: 40px;
    height: 40px;
}
button {
    font-size: 20px;
    background-color: pink;
    margin-right: 10px;
}
.header {
    padding: 20px;
    background-color: lightcyan;
    border-bottom: 3px skyblue solid;
}
.container {
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr; 
    padding: 30px;
    background-color: lavender;
    font-size: 20px;
}