.container {
	display: grid;
	height: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 5vh 5vh auto 5vh;
}

.menu {
	grid-column: 1/-1;
	height: 5vh;
	background-color: blanchedalmond;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header {
	grid-column: 1/-1;
	height: 5vh;
	background-color: aqua;
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer {
	grid-column: 1/-1;
	height: 5vh;
	background-color: aqua;
	display: flex;
	align-items: center;
	justify-content: center;
}

.sidebar {
	grid-column: 1/2;
	background-color: orange;
	display: flex;
	align-items: center;
	justify-content: center;
}

.content {
	grid-column: 2/4;
	background: lightpink;
	grid-column: 2/-1;
	display:grid;
	grid-gap: 4px;
}

.subcontent {
	background: lightgrey;
 	grid-column: 1/-1;
}


